<div class="contents row">
  <%= form_tag("/tweets/#{@tweet.id}", :method => :patch ) do %>
    <h3>
      編集する
    </h3>
    <!-- <input placeholder="Image Url" type="text" name="image" value="<%= @tweet.image %>" autofocus="true"> -->
    <textarea cols="30" name="text" placeholder="text" rows="4"><%= @tweet.text %></textarea>
    <input type="submit" value="SENT">
    <textarea cols="30" name="heart" placeholder="コメントする" rows="1">matching!!</textarea>
    <%= image_submit_tag("heart.gif", data: { confirm: "マッチングOK?" }, class: "heart") %>
  <% end %>
</div>

<!-- <div class="contents row">
  <div class="container">
    <%= form_for (@tweet) do |f| %>
      <h3>
        投稿する
      </h3>
      <%= f.label :folderimage, "image" %>
      <%= f.file_field :folderimage %>
      <%= f.text_area :text, placeholder: 'text', style: 'cols:30;rows:10'%>
      <%= f.submit %>
    <% end %>
  </div
</div> -->